.hero-and-features {
    display: grid;
    grid-template-columns: 2fr 1fr; /* A bal oldal kétszer szélesebb, mint a jobb */
    gap: 20px; /* Helyköz a blokkok között */
    background-color: blue;
}

.side-features {
    display: flex;
    flex-direction: column; /* Egymás alá rendezi a két kisebb blokkot */
    gap: 20px;
    background-color: blueviolet;
}

.welcome-about {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: aquamarine;
}

.welcome-box, .about-box {
    flex: 1; /* Egyenlő arányban osztják el a rendelkezésre álló helyet */
    background-color: burlywood;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Négy egyenlő oszlop */
    gap: 20px;
    background-color: chartreuse;
}

/* Alapvető reszetelés és konténer stílusok */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #ffffff; /* Fehér háttér az egész fejlécnek */
}

/* Felső sáv stílusa */
.header-top-bar {
    background-color: #3b97d3; /* Kék háttérszín */
    color: white;
    display: flex;
    justify-content: space-between; /* A logót és az ikonokat a két szélre igazítja */
    align-items: center; /* Függőlegesen középre igazítja az elemeket */
    padding: 10px 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/* Navigációs sáv stílusa */
.main-nav {
    background-color: #ff9a3c; /* Narancssárga háttérszín */
    padding: 0 20px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Helyköz a menüpontok között */
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    font-weight: bold;
}

footer {
    background-color: #3b97d3; /* A fejléc kék színével megegyező háttér */
    color: white;
    text-align: center; /* A szöveget középre igazítja */
    padding: 20px 0; /* Egy kis térközt ad a tartalom fölé és alá */
    margin-top: 40px; /* Helyet hagy a fő tartalom és a lábléc között */
}

.footer-content {
    /* Biztosítja, hogy a tartalom a konténer szélességén belül maradjon */
    display: flex;
    justify-content: center; 
    align-items: center;
}

footer p {
    margin: 0; /* Eltávolítja a paragrafus elemek alapértelmezett margóját */
    font-size: 14px;
}

